<div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each products}}
    <div class="col">
        <div class="card h-100 shadow-sm border-0">
            <div class="product-img-frame ratio ratio-1x1 bg-white p-4"> 
                <img src="/imgs/p{{this.id}}.png" class="img-fluid" alt="{{this.title}}">
            </div>
            <div class="card-body mt-2"> 
                <h5 class="card-title text-primary">{{this.title}}</h5>
                <p class="card-text text-truncate text-muted">{{this.description}}</p>
            </div>
            <div class="card-footer bg-transparent border-0"> 
                <a class="btn btn-primary" href="/products/{{this.id}}">Xem chi tiết</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>